<div class="wl-home-container">
    <div class="wl-home-content">
        <span class="wl-font-header wl-font-xl text-white">Wizards and Lizards</span>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <button [routerLink]="['/new-game']" class="wl-button-light">New game</button>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mt-3">
                    <button [routerLink]="['/join-game']" class="wl-button-light">Join game</button>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>