<h1>Wizards and Lizards</h1>
<!-- <input #name type="text" id="name"/>
<br>
<input #input type="text" id="input"/>
<br>
<button (click)="joinGame(input.value, name.value)">Join game</button>
<button [disabled]="!yourTurn" (click)="takeTurn()">{{yourTurn ? 'Take turn' : 'Not your turn'}}</button> -->
<!-- <br><br> -->
<div class="hand hhand-compact active-hand">
  <img class='card' src='../assets/cards/2C.svg'>
  <img class='card' src='../assets/cards/KS.svg'>
  <img class='card' src='../assets/cards/QS.svg'>
  <img class='card' src='../assets/cards/JS.svg'>
  <img class='card' src='../assets/cards/10S.svg'>
  <img class='card' src='../assets/cards/9H.svg'>
  <img class='card' src='../assets/cards/3H.svg'>
</div>
<div>
  <img class='card' src='../assets/cards/2C.svg'>
  <img class='card' src='../assets/cards/KS.svg'>
  <img class='card' src='../assets/cards/QS.svg'>
  <img class='card' src='../assets/cards/JS.svg'>
  <img class='card' src='../assets/cards/10S.svg'>
  <img class='card' src='../assets/cards/9H.svg'>
  <img class='card' src='../assets/cards/3H.svg'>
</div>
<div>
  <img class='card' src='../assets/cards/TC.svg'>
  <img class='card' src='../assets/cards/TD.svg'>
  <img class='card' src='../assets/cards/TS.svg'>
  <img class='card' src='../assets/cards/TH.svg'>
</div>
<div>
  <img class='card' src='../assets/cards/Red_Back.svg'>
  <img class='card' src='../assets/cards/Blue_Back.svg'>
</div>
<router-outlet></router-outlet>