.wl-playing-card {
    height: 15vh;
}

.wl-joker {
    height: 15vh;
    width: 10.5vh;
    padding-top: 5vh;
    text-align: center;
}

.wl-selected {
    border: 2px solid yellow;
    border-radius: 4px;
}