// Colors
$dark: #343a40;
$red: #e60000;
$redAccent: #b30000;
$orange: #ff6600;
$orangeAccent: #cc5200;
$yellow: #ffcc00;
$yellowAccent: #b38f00;
$green: #33cc33;
$greenAccent: #248f24;
$blue: #0066ff;
$blueAccent: #0047b3;
$purple: #cc00cc;
$purpleAccent: #990099;
$black: black;
$blackAccent: #595959;
$white: white;
$whiteAccent: #cccccc;