.wl-join-game-container {
    .wl-join-game-list {
        border: 2px solid #343a40;
        border-radius: 4px;
        height: 400px;
        overflow-y: auto;
    }

    .gray {
        background: #f2f2f2;
    }

    .blue {
        background: #1ad1ff;
    }
}